
## 제출 방법

1. 문제 코드 작성하기:

각 문제는 빈칸을 채워 완전한 함수로 작성됩니다. 이를 위해 각 문제의 빈칸에 적합한 답을 채우고, 주어진 함수나 알고리즘을 완성하세요.

2. 코드 실행 및 테스트:

각 함수가 올바르게 작동하는지 확인하기 위해, 문제와 같은 코드 셀에, 다양한 입력값을 사용하여 테스트합니다. 예를 들어, 문제 1의 경우:

```python
# 함수 실행 테스트
n = 5
print(is_even(n))  # False 출력 예상
```

1. 짝수 여부 확인 함수

문제: 정수를 입력받아 짝수인지 확인하는 함수에서 빈칸을 채우세요.

In [ ]:
def is_even(n):
    return n % 2 == 0

print(is_even(5))
print(is_even(2))

2. 리스트의 합계 계산 함수

문제: 리스트에 있는 모든 요소의 합을 반환하는 함수에서 빈칸을 채우세요.

In [ ]:
def list_sum(lst):
    total = 0
    for num in lst:
        total += num
    return total

test_list = [1,5,3,6,10]
print(list_sum(test_list))

3. 문자열 뒤집기 함수

문제: 문자열을 뒤집는 함수에서 빈칸을 채우세요

In [ ]:
def reverse_string(s):
    return s[::-1]

test_string = "kwon ju yeon"
print(reverse_string(test_string))

4. 팩토리얼 계산 함수

문제: 팩토리얼을 계산하는 함수에서 빈칸을 채우세요.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(3))
print(factorial(6))

5. 소수 여부 확인 함수

문제: 주어진 숫자가 소수인지 여부를 확인하는 함수에서 빈칸을 채우세요.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(11))
print(is_prime(112))

6. 최대값 찾기 함수

문제: 리스트에서 최대값을 반환하는 함수에서 빈칸을 채우세요.

In [ ]:
def find_max(lst):
    max_value = lst[0]
    for num in lst:
        if num > max_value:
            max_value = num
    return max_value

test_list = [4,2,7,1,8,4]
print(find_max(test_list))

7. 문자열의 길이 반환 함수

문제: 주어진 문자열의 길이를 반환하는 함수에서 빈칸을 채우세요.

In [ ]:
def string_length(s):
    return len(s)

test_string = "kwon ju yeon"
print(string_length(test_string))

8. 리스트에서 특정 값 찾기 함수

문제: 리스트에서 특정 값을 찾는 함수에서 빈칸을 채우세요.

In [ ]:
def find_value(lst, value):
    for item in lst:
        if item == value:
            return True
    return False

test_list = [4,2,6,11,343,54,34]
print(find_value(test_list, 343))
print(find_value(test_list, 32))

9. 리스트에서 짝수만 추출하는 함수

문제: 리스트에서 짝수만 추출하는 함수에서 빈칸을 채우세요.

In [ ]:
def extract_even(lst):
    evens = []
    for num in lst:
        if num % 2 == 0:
            evens.append(num)
    return evens

test_list = [4,3,6,11,343,55,34]
print(extract_even(test_list))

10. 두 문자열이 동일한지 확인하는 함수

문제: 두 문자열이 동일한지 확인하는 함수에서 빈칸을 채우세요.

In [ ]:
def is_same_string(s1, s2):
    return s1 == s2

test_string1 = "kwon ju yeon"
test_string2 = "kwon ju yeon"
test_string3 = "ju yeon"

print(is_same_string(test_string1,test_string2))
print(is_same_string(test_string1,test_string3))

11. 문자열에서 대문자 찾기

문제: 주어진 문자열에서 모든 대문자를 찾아 리스트로 반환하는 함수에서 빈칸을 채우세요.

힌트: 파이썬의 isupper 함수를 사용할 수 있습니다.

In [ ]:
def find_uppercase(s):
    return [char for char in s if char.isupper()]

test_string = "Kwon Ju Yeon"
print(find_uppercase(test_string))

12. 중복된 문자 제거

문제: 문자열에서 중복된 문자를 제거하고, 남은 문자들을 반환하는 함수에서 빈칸을 채우세요.

입력예시1: programming

출력: progamin

입력예시2: aaaaa

출력: a

In [ ]:
## def remove_duplicates(s):
##    return ''.join(sorted(set(s), key=_____.index))

def remove_duplicates(s):
    result = []
    for char in s:
        if char not in result:
            result.append(char)

    # ''.join(result)를 사용하지 않고 문자열로 변환
    final_string = ""
    for char in result:
        final_string += char

    return final_string

test_string1 = "programming"
test_string2 = "aaaa"
print(remove_duplicates(test_string1))
print(remove_duplicates(test_string2))

13. 리스트에서 홀수만 출력

문제: 리스트에서 홀수만 출력하는 함수에서 빈칸을 채우세요.

In [ ]:
def extract_Odd(lst):
    evens = []
    for num in lst:
        if num % 2 != 0:
            evens.append(num)
    return evens

test_list = [4,3,6,11,343,55,34]
print(extract_Odd(test_list))

14. 리스트에서 최대값의 인덱스 찾기

문제: 주어진 리스트에서 가장 큰 값의 인덱스를 반환하는 함수에서 빈칸을 채우세요.

힌트: 파이썬에서 제공하는 max를 사용할 수 있다.

In [ ]:
def find_max_index(lst):
    return lst.index(max(lst))

test_list = [5,3,2,6,3,9,12,3,23,12,3,2]
print(find_max_index(test_list))

15. 두 수의 최소공배수(LCM) 구하기

문제: 두 숫자의 최소공배수를 구하는 함수에서 빈칸을 채우세요.

힌트: math 패키지 함수 중 gcd 사용

In [ ]:
import math
def lcm(a, b):
    return abs(a * b) // math.gcd(a, b)

print(lcm(4, 5))

16. 문자열의 첫 글자만 대문자로 변환

문제: 문자열의 첫 글자만 대문자로 변환하는 함수에서 빈칸을 채우세요.

힌트: 파이썬이 제공하는 upper 함수를 사용할 수 있다.

In [ ]:
def first(s):
    return s[0].upper() + s[1:] if s else s

print(first("juyeon"))

17. 리스트에서 특정 요소 제거

문제: 리스트에서 특정 값을 제거하는 함수에서 빈칸을 채우세요.

In [ ]:
def remove_value(lst, value):
    return [x for x in lst if x != value]

print(remove_value([1, 2, 3, 4, 3], 3))

18. 문자열에서 특정 단어 찾기

문제: 주어진 문자열에서 특정 단어가 있는지 확인하는 함수에서 빈칸을 채우세요.

In [ ]:
def find_word(s, word):
    return word in s

print(find_word("Hello world", "world"))

19. 리스트 합치기

문제: 두 리스트를 합치는 함수에서 빈칸을 채우세요.

In [ ]:
def merge_lists(lst1, lst2):
    return lst1 + lst2

print(merge_lists([1, 2, 3], [4, 5, 6]))

20. 리스트 내 요소의 길이 출력

문제: 문자열로 이루어진 리스트의 각 요소 길이를 출력하는 함수에서 빈칸을 채우세요.

In [ ]:
def print_lengths(lst):
    for item in lst:
        print(len(item))

print_lengths(["apple", "banana", "cherry"])

21. 숫자의 각 자릿수 출력

문제: 숫자의 각 자릿수를 출력하는 함수에서 빈칸을 채우세요.

In [ ]:
def print_digits(n):
    for digit in str(n):
        print(digit)

print_digits(12345)

22. 문자열을 역순으로 출력

문제: 문자열을 역순으로 출력하는 함수에서 빈칸을 채우세요.

In [ ]:
def print_reverse(s):
    print(s[::-1])

print_reverse("hello")

23. 리스트에서 짝수와 홀수를 분리

문제: 리스트에서 짝수와 홀수를 분리하는 함수에서 빈칸을 채우세요.

In [ ]:
def split_even_odd(lst):
    evens = [x for x in lst if x % 2 == 0]
    odds = [x for x in lst if x % 2 == 1]
    return evens, odds

print(split_even_odd([1, 2, 3, 4, 5, 6]))

24. 리스트에서 특정 값의 개수 세기

문제: 리스트에서 특정 값이 몇 번 등장하는지 세는 함수에서 빈칸을 채우세요.

In [ ]:
def count_value(lst, value):
    return lst.count(value)

print(count_value([1, 2, 3, 4, 3, 3], 3))

25. 리스트의 합계와 평균 구하기

문제: 주어진 리스트의 합계와 평균을 반환하는 함수에서 빈칸을 채우세요.

In [ ]:
def sum_and_average(lst):
    total = sum(lst)
    average = total / len(lst) if lst else 0  # 빈 리스트일 경우 0으로 처리
    return total, average

print(sum_and_average([1, 2, 3, 4, 5]))

26. 문자열에서 공백 제거

문제: 문자열에서 공백을 제거하는 함수에서 빈칸을 채우세요.

In [ ]:
def remove_spaces(s):
    return s.replace(' ', '')

print(remove_spaces("Kwon Juyeon"))

27. 숫자 범위에서 홀수만 출력

문제: 주어진 숫자 범위에서 홀수만 출력하는 함수에서 빈칸을 채우세요.

In [ ]:
def print_odd_in_range(start, end):
    for num in range(start, end):
        if num % 2 == 1:
            print(num)

print_odd_in_range(1, 10)

28. 문자열의 모음 개수 세기

문제: 주어진 문자열에서 모음의 개수를 세는 함수에서 빈칸을 채우세요.

In [ ]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum([1 for char in s if char in vowels])

print(count_vowels("Kwon Juyeon"))

29. 1에서 n까지의 합 구하기

문제: 1에서 n까지의 합을 구하는 함수에서 빈칸을 채우세요.

In [ ]:
def sum_up_to(n):
    return sum(range(1, n + 1))

print(sum_up_to(5))

30. 두 문자열이 애너그램인지 확인

문제: 두 문자열이 애너그램인지 확인하는 함수에서 빈칸을 채우세요.

In [ ]:
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)

print(are_anagrams("listen", "silent"))